:root {
    --gray: #323232;
    --green-dark: #295F4E;
    --green-light: #60a386;
    --cream: #F4E5C2;
}

.registerForm {
    background: var(--gray);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerForm form {
    display: flex;
    flex-direction: column;
    background: var(--green-light);
    color: var(--gray);
    border-radius: 20px;
    padding: 30px;
    width: 18%;
}

.registerForm input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.registerForm input[type='file'] {
    display: none;
}

.registerForm label {
    padding: 10px;
    background: var(--green-dark);
    color: var(--cream);
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;   
    cursor: pointer;
}

.registerForm button {
    background: var(--green-dark);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--cream);
}
.registerForm button:hover {
    background: #1a3d32;
}


.registerForm span {
    padding: 10px 0;
}