:root {
    --teal-green: #128C7E;
    --teal-green-dark: #075E54;
    --light-green: #25D366;
    --blue: #34B7F1;
}

.registerForm {
    background: var(--teal-green-dark);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerForm form {
    display: flex;
    flex-direction: column;
    background: var(--teal-green);
    color: white;
    border-radius: 20px;
    padding: 30px;
    width: 18%;
}

.registerForm input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

.registerForm input[type='file'] {
    display: none;
}

.registerForm label {
    padding: 10px;
}

.registerForm span {
    padding: 10px 0;
}